<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/djangoapp/">Best Dealership</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/djangoapp/">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/djangoapp/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/djangoapp/contact">Contact</a>
          </li>
        </ul>
        {% if user.is_authenticated %}
        <div class="d-flex">
          <p class="text-light">{{ user.first_name }}</p>
          <a class="btn btn-danger" href="{% url 'djangoapp:logout' %}">
            Logout
          </a>
        </div>
        {% else %}
        <form class="d-flex" action="{% url 'djangoapp:login' %}" method="POST">
          {% csrf_token %}
          <input
            class="form-control me-2"
            type="text"
            name="username"
            placeholder="username"
            aria-label="username"
          />
          <input
            class="form-control me-2"
            type="password"
            name="password"
            placeholder="password"
            aria-label="password"
          />
          <button class="btn btn-outline-success" type="submit">login</button>
        </form>
        <a class="btn btn-info" href="{% url 'djangoapp:registration' %}">
          Sign Up
        </a>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
